@import "../../../../styles/variables.scss";

.sliderContainer{
    height: fit-content;
    border: 1px;
    border-width: 1px;
    opacity: 0.5;
}

.slick {
    position: relative;
    height: 50rem !important;
}