@import "../../../../styles/variables.scss";


.component-container{
    background-color: $color--primary;
}

.container{
   padding-left: 15rem;
   padding-bottom: 10rem;
   padding-top: 5rem;
   width: auto;
   text-align: center;
   background-color: $color--primary;
   display: flex;
   flex-direction: column;
   
   

}
.header{
    font-size: 80px;
    font-weight: $h1FontWeight;
    letter-spacing: -9px;
    color: #FFFF;
}

.paragraph1{
    color: #FFFF;
    padding: 15px 0;
    text-align: left;
    margin-left: 135px;
    margin-right: 30px;
    line-height: 2rem;
    font-style: italic;
}

.paragraph{
    color: #FFFF;
    padding: 15px 0;
    text-align: left;
    margin-left: 135px;
    margin-right: 30px;
    line-height: 2rem;
    text-align: justify;
}