@import "../../../../styles/variables.scss";

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.titleContainer {
  text-align: center;
  font-size: $h2FontSize;
  font-weight: $h1FontWeight;
  color: #ffff;
}

.descriptionContainer {
  text-align: justify;
  font-size: $bodyFontSize;
  font-weight: $bodyFontWeight;
  color: #ffff;
  line-height: 2rem;
  max-width: 1000px;
  text-indent: 3rem;
}

.button {
  margin-top: 1rem;
}
