@import "../../../../styles/variables.scss";

.componentContainer{
    background-color: #2D419D;
    margin-top: 60px;
    flex-wrap: wrap

}

.initiativeTitle{
    text-align: center;
    font-size: $h2FontSize;
    font-weight: $h1FontWeight;
    color: #FFFF;
}

.text{
    text-align: justify;
    margin: 25px 50px 75px 100px;
    font-size: $h4FontSize;
    font-weight: $h5FontWeight;
    color: #FFFF;
}

.button{
    margin-top: 20px;
}



