@import "../../../../styles/variables.scss";

.footer {
    background-color: $color--nav-bg;

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: .5rem;

        font-size: $bodyFontSize;
        font-weight: $body2FontWeight;
        color: $color--white;
        padding: 1rem 1rem;

        text-align: center;

        span {
            font-weight: $h1FontWeight;

            a {
                text-decoration: none;
                color: $color--white;
                transition: color .2s ease-in;

                &:hover {
                    color: $color--secondary;
                }

                &:active {
                    color: $color--primary;
                    transition: color .1s ease;
                }
            }
        }
    }

    abbr {
        border-bottom: dotted 1px $color--white;
        padding-bottom: 2px;
        text-decoration: none;
    }
}

/* MEDIUM DEVICES */
@media (max-width: 768px) {
    .footer {
        &__content {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}