@import "../../../../styles/variables.scss";

.help-portal {
    &__hero {
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem 0;
        gap: .75rem;
        
        background-color: $color--primary;
        color: $color--white;

        .hero__welcome {
            text-align: center;
            font-weight: $h4FontWeight;
            font-size: $h4FontSize;
            
            span {
                display: block;
                font-weight: 900;
                font-size: $h1FontSize;
            }
        }

        p {
            text-align: center;
        }
    }

    &__guidebook {
        height: 10.5rem;
        background-color: #7DB1FF;

        .guidebook-wrapper {
            height: 10.5rem;
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 3rem;
            justify-content: center;
        }

        .guidebook {
            flex-grow: 1;
            display: flex;
            justify-content: center;
            img {
                max-width:100%;
                object-fit: cover;
            }
        }

        .download-area {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 2rem;
            flex-grow: 1;

            .prompt {
                color: $color--white;
                display: flex;
                flex-direction: column;
                gap: 0.625rem;

                h2 {
                    font-size: $h4FontSize;
                }
            }
        }
    }

    &__FAQ {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 3.125rem 0;
        gap: 2rem;
        
        color: $color--primary;
        
        .category-area {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
        }
    }
}

@media (max-width: 768px) {
    .help-portal {
        &__guidebook {
            height: 20rem;
        }
    }
    .guidebook-wrapper {
        flex-wrap: wrap;
        padding: 0 2rem;
    }

    .download-area {
        gap: 1rem;
    }
}