@import "../../../../styles/variables.scss";

$maxWidth: 1200px;

.card {
  position: relative;
  padding: 25px;
  height: 200px;
  flex: 0 0 40%;
  max-width: 40%;
  list-style: none;

  transition: transform 0.3s ease-in, background-color 0.1s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.card:nth-child(4n + 1),
.card:nth-child(4n + 4) {
  flex: 0 0 60%;
  max-width: 60%;
}

.card:nth-child(odd) {
  padding-left: 0;
}

.card:nth-child(even) {
  padding-right: 0;
}

.card-content-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  pointer-events: none;
  cursor: pointer;
}

.card-content-container.open {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1000;
  overflow: hidden;
  padding: 40px 0;
}

.card-content {
  pointer-events: auto;
  position: relative;
  border-radius: 20px;
  background: $color--light-grey;
  overflow: hidden;
  width: 100%;
  height: fit-content;
  max-height: 95%;
  margin: 0 auto;
}

.open .card-content {
  max-width: $maxWidth;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.open .card-content::-webkit-scrollbar {
  display: none;
}

.scroll-down-icon {
  z-index: 1002;
  position: absolute;
  top: 20%;
  left: 37%;
  opacity: 1;
}

.overlay {
  z-index: 1;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  will-change: opacity;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  // max-width: 990px;
}

.overlay a {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
}

@media only screen and (max-width: calc(#{$maxWidth} + 100px)) {
  .open .card-content {
    max-width: 90%;
  }
}

@media only screen and (max-width: 1280px) {
  .scroll-down-icon {
    opacity: 0;
  }
}

@media only screen and (max-width: 800px) {
  .card {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    flex: 1 0 100%;
    max-width: 100%;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 1 0 100%;
    max-width: 100%;
  }
}
