@import "../../../../styles/variables.scss";

.tabdesign {
  border: 1px;
  border-color: black;
}

.content {
  color: black;
}

.outerBox {
  display: flex;
  flex-direction: column;
  padding: 4rem 0;
  align-items: center;
  justify-content: center;
  height: fit-content;
}

.tabStyle {
  color: black;
}
.header {
  text-align: center;
  // padding-top: 4rem;
  // padding-bottom: 4rem;
  color: #ffff;
  font-weight: $h1FontWeight;
  font-size: 72px;
  // padding-left: 10rem;
}
.six {
  color: aquamarine;
}

.background {
  // display: flex;
  // align-items: center;
  background-color: $color--primary;
}

.vertical-contents {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

@media (max-width: 992px) {
  .header {
    font-weight: $h1FontWeight;
    font-size: 5rem;
  }
  .vertical-contents {
    flex-direction: column;
  }

  .outerBox {
    padding: 4rem 2rem;
  }
}

@media (max-width: 560px) {
  .header {
    font-weight: $h1FontWeight;
    font-size: 3rem;
  }
}
