@import "../../../../styles/variables.scss";

.tabdesign{
    border: 1px;
    border-color: black;
}

.content{
    color: black;
}

.outerBox{
    background-color: $color--primary;
}

.tabStyle{
    color: white;
}

.outerTab{
    width: fit-content;
}
.header{
    text-align: center;
    padding: 30px 0;
    color: #FFFF;
    font-weight: $h1FontWeight;
    font-size: 72px;
}
.six{
    color: aquamarine;
}