@import "../../../../styles/variables.scss";

.outerSection {
  background-color: rgb(242, 243, 244);
  padding: 5rem 0;
}

.image-container {
  position: relative;
  min-width: 400px;
  //   width: 400px;
  max-width: 400px;
  height: fit-content;
  max-height: 400px;
  //   flex-grow: 2;
}

.container {
  display: flex;
  justify-content: center;
  background-color: rgb(242, 243, 244);
  gap: 5rem;
}

.paragraph {
  p {
    margin-bottom: 0.8rem;
    color: black;
    line-height: 1.5rem;
    text-align: justify;
    text-indent: 5rem;
  }
}

.header {
  font-size: 6.25rem;
  font-weight: $h1FontWeight;
  color: $color--primary;
  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.background {
  position: relative;
}

@media (max-width: 992px) {
  .container {
    flex-wrap: wrap;
  }
}
