@import "../../../../styles/variables.scss";

.outerSection{
    background-color: rgb(242, 243, 244);
    padding: 5rem 0;
    
    
}

.container{
    display: flex;
    justify-content: center;
    background-color:rgb(242, 243, 244);
    gap: 4rem;
}

.paragraph{
    margin-bottom: .8rem;
    color: black;
    line-height: 1.5rem;
    text-align: justify;
    text-indent: 5rem;
}

.header{
    font-size: 6.25rem;
    font-weight: $h1FontWeight;
    color: $color--primary;
    display: flex;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.background{
    position: relative;
}

@media (max-width: 992px) {
    .container {
        flex-wrap: wrap;
    }
}






