@import "../../../../styles/variables.scss";

.component-container{
    background-color: $color--primary;

}

.flexComponent{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    row-gap: 1rem;
}

.inner{
    justify-content: right;
    align-items: right;
    row-gap: 1rem;
    
}

.outer{
    display:flexbox;
    vertical-align: middle;

    
}

.Here{
    color: #ffff;
    font-size: 100px;
    font-weight: bold;
    margin-left: 5%;
    line-height: 1rem;
    margin-top: 80px;
   
    
}


.AndNow{
    color: #ffff;
    font-size: 100px;
    font-weight: bold;
    margin-left: 5%;
    line-height: 1rem;
    margin-bottom: 22px;    
}

.paragraph{
    text-align: justify;
    font-size: $bodyFontSize;
    font-weight: $bodyFontWeight;
    color: #ffff;
    max-width: 1000px;
    margin-left: 23%;
    margin-right: 50px;
   
}






