@import "../../../../styles/variables.scss";
@import "../../../data/imageSrc.module.scss";

.about {
  height: fit-content;
  background-color: $color--aquamarine;
  background-image: url($department-bg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: right;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges; /* Firefox */
  image-rendering: -o-crisp-edges; /* Opera */
  image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming)*/
  -ms-interpolation-mode: nearest-neighbor;

  .component-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7.5rem 0;
  }
}

.modal {
  position: absolute;
  margin-left: 5%;
  width: 90%;
  top: 12%;
  overflow: scroll;
  max-height: 90%;
  display: block;
  border-radius: 10px;
  background-color: #ffffff;
  border: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.modal::-webkit-scrollbar {
  display: none;
}

.content {
  padding: 30px 0;
}

.section{
  padding: 3rem 0;
}

.secondSection{
  padding: 3rem 0;
  z-index: 100;
}
