@import "../../../../styles/variables.scss";
@import "../../Molecules/InitiativeModal/InitiativeModal.module.scss";

.card-image-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 12.5rem;
  width: 100vw;
  background-color: $color--primary;
}
.open {
  height: 7.2rem;
}

.open .card-image-container,
.open .title-container {
  z-index: 1;
}

.title-container {
  position: absolute;
  top: 25px;
  top: 1.6rem;
  left: 1.6rem;
  max-width: calc(#{$maxWidth} - (#{$maxWidth}* 0.1));
}

.open .title-container {
  top: 300px;
  left: 300px;
}

.card-title {
  font-size: $h3FontSize;
  font-weight: $h2FontWeight;
  color: $color--white;
  margin: 8px 0;
}

.category {
  color: #fff;
  font-size: $bodyFontSize;
  text-transform: uppercase;
}

@media only screen and (max-width: calc(#{$maxWidth} + 100px)) {
  .title-container {
    max-width: 90%;
  }
}
