@import "../../../../styles/variables.scss";

.card-image-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 200px;
  width: 100vw;
  background-color: $color--primary;
}
.open {
  height: 7.2rem;
}

.open .card-image-container,
.open .title-container {
  z-index: 1;
}

.title-container {
  position: absolute;
  top: 25px;
  top: 1.6rem;
  left: 1.6rem;
  max-width: 300px;
}

.open .title-container {
  top: 30px;
  left: 30px;
}

.card-title {
  font-size: $h3FontSize;
  font-weight: $h2FontWeight;
  color: $color--white;
  margin: 8px 0;
}

.category {
  color: #fff;
  font-size: $bodyFontSize;
  text-transform: uppercase;
}
