@import "../../../../styles/variables.scss";
$fontColor: $color--primary;

.componentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 10vw;
  margin-left: 10vw;
}

.titleText {
  font-size: $h1FontSize;
  font-weight: $h1FontWeight;
  text-align: center;
  color: $fontColor;
  padding-top: 3rem;
  border-bottom: solid 3px $color--primary;
}

.button {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
