@import "../../../../styles/variables.scss";

.faqcard {
    background-color: $color--white;
    width: 15rem;
    height: 12.5rem;
    padding: 0 2.5rem;
    border: 3px solid $color--primary;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    color: $color--primary;
    gap: 1rem;

    transition: all .2s ease;
    cursor: pointer;

    &__text {
        display: flex;
        flex-direction: column;
        gap: .25rem;
        text-align: center;

        .title {
            font-size: $h5FontSize;
            font-weight: $h1FontWeight;
        }
    }

    &:hover {
        color: $color--white;
        background-color: $color--primary;
        transition: all .2s ease;
    }
}