@import "../../../../styles/variables.scss";
@import "../../Molecules/InitiativeModal/InitiativeModal.module.scss";

$tableBorders: 1px solid $color--black;
$fontColor: $color--black;

.content-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 2rem 4rem;
  max-width: $maxWidth;
  width: 100%;
  // align-items: center;
}
.paragraph-content--container-with-indent {
  text-indent: 5rem;
}

.paragraph-content {
  text-align: justify;
  font-size: $bodyFontSize;
  font-weight: $bodyFontWeight;
  color: $fontColor;
  line-height: 2rem;
  text-indent: 5rem;
}

.paragraph-content--bold {
  text-align: justify;
  font-size: $bodyFontSize;
  font-weight: bold;
  color: $fontColor;
  line-height: 2rem;
  text-indent: 5rem;
}

.paragraph-content--hypertext {
  text-align: justify;
  font-size: $bodyFontSize;
  font-weight: $bodyFontWeight;
  color: $fontColor;
  line-height: 2rem;
  text-indent: 5rem;
}

.content-hypertext {
  font-size: $h5FontSize;
  font-weight: $h5FontWeight;
  line-height: 2rem;
  text-align: center;
  color: $fontColor;
}

.content-hypertext--large {
  font-size: $h4FontSize;
  font-weight: $h4FontWeight;
  line-height: 2rem;
  text-align: left;
  color: $fontColor;
}

.hyperlink {
  align-self: center;
}

.title--align-center {
  font-size: $h4FontSize;
  font-weight: $h4FontWeight;
  text-align: center;
  color: $fontColor;
}

.title--align-left {
  font-size: $h4FontSize;
  font-weight: $h4FontWeight;
  text-align: left;
  color: $fontColor;
}

.title--align-right {
  font-size: $h4FontSize;
  font-weight: $h4FontWeight;
  text-align: right;
  color: $fontColor;
}

.title--large {
  font-size: $h2FontSize;
  font-weight: $h2FontWeight;
  text-align: center;
  color: $fontColor;
}

.title-italized {
  text-align: left;
  font-size: $h5FontSize;
  font-weight: $h5FontWeight;
  color: $fontColor;
  font-style: italic;
}

.orderedList,
.unorderedList {
  padding: 1rem;
  color: $fontColor;
  width: 100%;
  margin-left: 2rem;
  line-height: 1.5rem;
}

.listItem,
.descriptionData {
  margin-left: 1rem;
  padding: 0.3rem;
  color: $fontColor;
  line-height: 1.5rem;
}

.table {
  border: $tableBorders;
  border-collapse: collapse;
  width: 90%;
  align-self: center;
  line-height: 1.5rem;

  th,
  td,
  tr {
    border: $tableBorders;
    padding: 0.5rem 1rem;
    color: $fontColor;
  }

  .paragraph-content {
    padding: 1rem;
    color: $fontColor;
  }

  th {
    font-size: $h5FontSize;
  }
}

.stretched-button {
  align-self: center;
  width: 50%;
  min-width: 15rem;
}

@media only screen and (max-width: calc(#{$maxWidth} + 100px)) {
  .content-container {
    max-width: 90%;
  }
}
