/* FONT STYLING */
$font--stack: "Montserrat", Helvetica, sans-serif;
$font--stack--brant: "brant bold", "Times New Roman", serif;

/* FONT SIZE */
$h1FontSize: 3.052rem;
$h2FontSize: 2.441rem;
$h3FontSize: 1.953rem;
$h4FontSize: 1.563rem;
$h5FontSize: 1.25rem;
$bodyFontSize: 1rem;
$body2FontSize: 0.8rem;
$captionFontSize: 0.64rem;
$caption2FontSize: 0.512rem;

/* FONT WEIGHT */
$h1FontWeight: 700;
$h2FontWeight: 700;
$h3FontWeight: 600;
$h4FontWeight: 600;
$h5FontWeight: 500;
$bodyFontWeight: 400;
$body2FontWeight: 400;
$captionFontWeight: 400;
$caption2FontWeight: 400;

/* COLORS */
$color--primary: #2D419D;
$color--secondary: #428FE2;
$color--aquamarine: #ADE0C8;
$color--purple: #9D3ED7;
$color--yellow: #F0AE02;
$color--white: #FFFFFF;
$color--white-active: #dadada;
$color--nav-bg: #1a275f;