@import "../../../../styles/variables.scss";

$spaceBetween: 32px;
$fontColor: #17267c;

.componentContainer {
  margin-top: 60px;
}

.officersContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 56px;
}

.officerContainer {
  margin-bottom: $spaceBetween;
}

.officeTitle {
  margin-bottom: $spaceBetween;
  text-align: center;
  font-size: $h4FontSize;
  font-weight: $h4FontWeight;
  color: $fontColor;
}
