@import "../../../assets//Variable/Variable.scss";

.officersContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.officerContainer {
  margin-right: 56px;
}

.officeTitle {
  display: flex;
  margin-bottom: 24px;
  justify-content: center;
  align-items: center;

  span {
    font-size: $h4FontSize;
    font-weight: $h4FontWeight;
    font-family: $defaultFontFamily;
    color: #ffffff;
  }
}
